@charset "UTF-8";

/*markup setting*/
*{
    font-style: normal;
    font-weight: normal;
    font-size : 100%;
}

body {
    background-color:#DCDCDC;
    font-family: 'Century Gothic';
    overflow:scroll;
    -webkit-overflow-scrolling:touch;
}

div {
    color:#4e454a;
}

/*header*/
header #menu ul {
    display:table;table-layout:fixed;width:100%;list-style:none;padding:0;margin:0;
}

header #menu ul li {
    padding-top:5%;
    position:relative;
    display:table-cell;
    text-align:center;
    width:20%;
    height:100%;
}

header #menu ul li.active {
    background-color:#f7f6f5;  
    color:gray;
}

header #menu ul li.active.last {
    background-color:#f7f6f5;  
    color:gray;
    border-bottom-right-radius: 5px;
}

header #menu ul li div.image {
    padding-top:5%;
}

/*common component*/
*.contents {
    background-color: white;
}

span.size-badge {
    padding:1% 3%;background-color:#4e454a;color:#ffffff;
    border-radius:5px;
}

span.amount-badge-normal {
    padding:1% 3%;background-color:#4e454a;color:#ffffff;
    border-radius:5px;
}

span.amount-badge-large {
    padding:1% 3.5%;background-color:#4e454a;color:#ffffff;
    border-radius:5px;
}

*.separate-info-line {
    border-bottom:solid 1px lightgray;
}

/*article*/
article #contents-list .menu-item {
    padding-top:5%;
    padding-bottom:5%;
    padding-left:2%;
    background-image: url(../img/menu_arrow_icon.png);
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-size: auto 20%;
    border-bottom:solid 1px lightgray;
}

article #contents-list .menu-item.with-center-line {
    border-right:solid 1px lightgray;
}

article #contents-list .menu-item-image {
    border-bottom:solid 1px lightgray;
}

article #contents-list .menu-item-border-top {
    border-top:solid 5px #00aced;
}

article #contents-list .item-name {
    position:absolute;bottom:10%;left:0%;color:#ffffff;
}

article #contents-list .item-area {
    border-top:solid 5px #00aced;
    border-radius:5px;
    padding-bottom:1%;
    background-color:white;
}


article #notice-list .menu-item {
    padding-top:5%;
    padding-bottom:5%;
    padding-left:2%;
    background-image: url(../img/menu_arrow_icon.png);
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-size: auto 20%;
    border-bottom:solid 1px lightgray;
}

article #notice-list .menu-item.with-center-line {
    border-right:solid 1px lightgray;
}

article #notice-list .menu-item-image {
    border-bottom:solid 1px lightgray;
}

article .favorite-icon-area {
    background-image:url(../img/like_icon_gray.png);
    background-size:auto 100%;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    padding-left:60%;
    padding-top:10%;
    padding-bottom:10%;
}

article .comments-icon-area {
    background-image:url(../img/comments_icon_gray.png);
    background-size:auto 100%;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    padding-left:60%;
    padding-top:10%;
    padding-bottom:10%;
}

article .price-area {
    padding-top:10%;
    padding-bottom:10%;
}


/*index article*/
#index-article #category-list ul {
    display:table;table-layout:fixed;width:100%;list-style:none;padding:0;margin:0;
}

#index-article #category-list ul li {
    display:table-cell;text-align:center;width:25%;
    padding-top:5%;
    padding-bottom:5%;
    color:#ffffff;
}

#index-article #category-list ul li.women {
    background-color: #f5deb3;
}

#index-article #category-list ul li.men {
    background-color: blue;
}

#index-article #category-list ul li.kids {
    background-color: cyan;
}

#index-article #category-list ul li.baby {
    background-color: greenyellow;
}

#index-article #slider-area {
    overflow:hidden;
}

#index-article #slider-area #slider{
    position:relative;width:200%;height:100%;
}

#index-article #category-slider-list ul {
    position:absolute;top:0%;left:0%;height:100%;
    display:table;table-layout:fixed;width:100%;list-style:none;padding:0;margin:0;
}

#index-article #category-slider-list ul li {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    width:20%;
    height:100%;
    color:#4e454a;
    font-size:0.5em;
}

#index-article #category-slider-list ul li.active {
    color:#00aced;
    font-size:0.5em;
    font-weight:bold;
}

#index-article #category-slider-list ul li.women {
    background-color: #ffb6c1;
}

#index-article #category-slider-list ul li.men {
    background-color: #87cefa;
}

#index-article #category-slider-list ul li.kids {
    background-color: #90ee90;
}

#index-article #category-slider-list ul li.baby {
    background-color: #ffa07a;
}

#index-article #category-slider-list ul li.interior {
    background-color: #f5deb3;
}

#index-article #category-slider-list #slider-area #left {
    position:absolute;top:10%;left:5%;height:80%
}

#index-article #category-slider-list #slider-area #right {
    position:absolute;top:10%;right:5%;height:80%
}

#index-article #category-list div.active-category {
    position:absolute;
    top:0%;
    left:48%;
    width:0px;
    border-right:10px solid transparent;
    border-top:15px solid white;
    border-left:10px solid transparent;
}

#index-article .more-result {
    color:#00aced;
    font-size:0.9em;
    font-weight: bold;
}

/*cart*/
#caution-area {
    background-color:white;
}

#caution-area .bold-caution {
    color:#ff0000;
    font-weight:bold;
}

#cart-article #cart-product-area {
    background-color:white;
}


/*shop*/
#product-list ul {
    display:table;table-layout:fixed;width:50%;list-style:none;padding:0;margin:0;
}

#product-list ul li {
    display:table-cell;text-align:center;width:20%;
    color:#c1ab05;
}

#product-detail-article #product ul {
    display:table;table-layout:fixed;width:70%;list-style:none;padding:0;margin-left:auto;margin-right:0;
}

#product-detail-article #product ul li {
    display:table-cell;text-align:center;width:20%;
    color:#c1ab05;
}

#product-detail-article .cart-button {
    color:#ffffff;padding:3% 0%;background-color:#4e454a;width:70%;margin-left:auto;margin-right:auto;text-align:center;
        border-radius:5px;

}

#product-detail-article .favorite-button {
    border:solid 1px lightgray;width:100%;height:100%;margin-left:auto;margin-right:auto;color:lightgray;
    background-image: url(../img/like_icon_gray.png):
}

#search-result-article .all-result {
    color:#00aced;
    font-size:0.5em;
    font-weight: bold;
}

#search-result-article span.pager-badge {
    text-align:center;
    padding:1% 2%;
    border-radius:5px;
    background-color:#00aced;
    color:white;
    z-index:10;
}

#search-result-article span.pager-badge.prev {
    text-align:center;
    padding:1% 2%;
    margin-right:2%;
    border-radius:5px;
    background-color:#00aced;
    color:white;
    z-index:10;
}

#search-result-article span.pager-badge.next {
    text-align:center;
    padding:1% 2%;
    margin-left:2%;
    border-radius:5px;
    background-color:#00aced;
    color:white;
    z-index:10;
}

#search-article .search-box {
    width:100%;
    border-radius:3px;
    border:solid 1px lightgray;
    padding-top:1%;
    font-size: 100%;
}

#search-article .search-botton {
    position:absolute;top:1%;left:80.5%;
    background-image:url(../img/search_icon.png);
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: 50%;50%;
    height:90%;width:20%;
    border:none;
    border-radius:3px;
    background-color: #00aced;
}

#search-article .search-botton.inactive {
    background-color: #01A9DB;
}

#search-article .tab-panel-left.active {
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    background-color: white;
}

#search-article .tab-panel-left.inactive {
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    background-color: lightgray;
    border-top-left-radius:3px;
}

#search-article .tab-panel-right.active {
    border-top-right-radius:3px;
    border-top-left-radius:3px;
    background-color: white;
}

#search-article .tab-panel-right.inactive {
    border-top-right-radius:3px;
    border-top-left-radius:3px;
    border-bottom-right-radius:3px;
    background-color: lightgray;
}

/*exhibit article*/
#exhibit-article #slider-area {
    overflow:hidden;
}

#exhibit-article #slider-area #slider{
    position:relative;width:300%;height:100%;
}


#exhibit-article #exhibit-category-list ul {
    position:absolute;top:0%;left:0%;height:100%;
    display:table;table-layout:fixed;width:100%;list-style:none;padding:0;margin:0;
}

#exhibit-article #exhibit-category-list ul li {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    width:100%;
    height:100%;
    color:#4e454a;
    font-size:0.5em;
}

#exhibit-article #exhibit-category-list ul li.active {
    color:#00aced;
    font-size:0.5em;
    font-weight:bold;
}

#exhibit-article #exhibit-category-list #slider-area #left {
    position:absolute;top:10%;left:5%;height:80%;
}

#exhibit-article #exhibit-category-list #slider-area #right {
    position:absolute;top:10%;right:5%;height:80%;
}

#exhibit-article #exhibit-category-list ul li.exhibit {
    background-color: #ffb6c1;
}

#exhibit-article #exhibit-category-list ul li.trade {
    background-color: #87cefa;
}

#exhibit-article #exhibit-category-list ul li.soldout {
    background-color: #90ee90;
}

#exhibit-article #category-list div.active-category {
    position:absolute;
    top:0%;
    left:48%;
    width:0px;
    border-right:10px solid transparent;
    border-top:15px solid white;
    border-left:10px solid transparent;
}

/*auth article*/
#auth-article #login-form .input-auth-info-text {
    width:100%;border-radius:5px;border:solid 1px lightgray;height:150%;
}

#auth-article #login-form .login-button {
    width:100%;color:#ffffff;border-radius:5px;padding-top:2%;padding-bottom:2%;padding-right:1%;background-color:#00aced;text-align:center;
}

#auth-article #login-form .support-link {
    width:96%;color:#00aced;padding-right:5%;background-image:url(../img/menu_arrow_icon.png);background-size:auto 50%;background-repeat:no-repeat;background-position:100% 50%;
}

#auth-article #login-form .fb-sign-in-area {
    border-top:solid 1px lightgray;border-bottom:solid 1px lightgray;
}

#auth-article #login-form .twitter-sign-in-area {
    border-bottom:solid 1px lightgray;
}

#auth-article #login-form .google-sign-in-area {
    border-bottom:solid 1px lightgray;
}

#auth-article #login-form .yahoo-sign-in-area {
    border-bottom:solid 1px lightgray;
}


#auth-article #login-form . {
    border-bottom:solid 1px lightgray;
}

#auth-article #login-form .sns-login-statement-area1 {
    width:96%;padding-right:5%;background-image:url(../img/menu_arrow_icon.png);background-size:auto 50%;background-repeat:no-repeat;background-position:100% 50%;font-size:0.8em;
}

#auth-article #login-form .sns-login-statement-area2 {
    width:96%;padding-right:5%;background-image:url(../img/menu_arrow_icon.png);background-size:auto 25%;background-repeat:no-repeat;background-position:100% 50%;font-size:0.8em;
}

#auth-article #login-form .sns-login-statement-area2-sub-statement {
    color:#00aced;
    font-size:0.5em;
}

/*footer*/
footer .blank-area {
    background-color:#f7f6f5;padding-top:7%;
}

footer #menu ul {
    display:table;table-layout:fixed;width:100%;list-style:none;padding:0;margin:0;
}

footer #menu ul li {
    background-color:white;
    position:relative;
    padding-top:3%;
    padding-bottom:3%;
    text-align:left;
    width:100%;
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: auto 50%;
    border-bottom:solid 1px lightgray; 
}

footer #menu ul li.login {
    background-image: url(../img/key_footer_menu_icon.png);
}

footer #menu ul li.register {
    background-image: url(../img/regist_member_footer_menu_icon.png);
}

footer #menu ul li.purchase-history {
    background-image: url(../img/purchase_history_footer_menu_icon.png);
}

footer #menu ul li.information {
    background-image: url(../img/info_footer_menu_icon.png);
}

footer #menu ul li.active {
    background-color:#ff0000;    
    color:#4f4f4f;
}

footer #menu ul li div {
    padding-left:13%;
    background-image: url(../img/menu_arrow_icon.png);
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-size: auto 50%;
}

footer #copyright {
    background-color:#f7f6f5;    
}